# PET5936  - Spring 2023

# Assignment # 1 

Please submit your assignment as a jupyter (.ipynb) or pdf file 

1) Start a new jupyter notebook and name it "YourName_Assignment_1"

Replace *YourName* by your first name and last name

2) In a new cell print
``` python
I love learning Python
```


3) Compute the following expressions 
``` python
4 + 5 * 3 - 6 / 2
```

Briefly explain your results. 

Hint: Google ***Python Operator Precedence***

4) Modify the previous expression by adding a set of parenthesis '( )' so that the result of the operation is `-3.5`. Briefly explain your results

5) use the math or numpy libraries to compute the $\sin(89°)$. 

Hint: Remember that the input to the sin function should be in radians. The output should be very close to 1

6) The hyperbolic $\sin$ or `sinh` is defined in terms of exponentials as 
$$
\sinh(x)=\frac{\exp(x)−\exp(−x)}{2}.
$$

Compute $\sinh$ for $x=2$ using exponentials. Verify that the result is indeed the hyperbolic $sin$ using Python’s function $sinh$ in the math or numpy libraries.

7) Compute the following expression
$$
e^2 \sin(\pi/6) + log_e(3)\cos(\pi/9)-5^3
$$

8) Load the data provided in `file.txt` in a variable (`mylist`) using the following code:
```Python 
file = open("file.txt", "r")
data = file.read()
ls = data.split("\n")
ls.pop()
mylist = [eval(i) for i in ls]
file.close()
```

Hint: The file must be in the same folder as your jupyter notebook

    a. How many elements are in the list? 
    b. What is the largest and smaller numbers of the list? 
    c. What is the sum of the 10 largest numbers in the list? (you can use sum() to add elements in a list)
    d. Are there any repeated numbers in the list?

In [12]:
#3 
4 + 5 * 3 - 6 / 2

16.0

In [13]:
#4
4 + 5 *(3 - 6) / 2

-3.5

In [14]:
#5
import math
math.sin(89*math.pi/180)

0.9998476951563913

In [15]:
#6
import math
(math.exp(2)-math.exp(-2))/2, math.sinh(2)

(3.626860407847019, 3.6268604078470186)

In [16]:
#7
import math
math.exp(2)*math.sin(math.pi/6) + math.log(3)*math.cos(math.pi/9)  - 5**3

-120.27311408976854

In [17]:
#8
True and (not True), False and (not False)

(False, False)

In [1]:
#9
#truth table for OR

#True or True -> True
#True or False -> True 
#False or True -> True 
#False or False -> False 

#it should be False only if both are False
#the equivalent is: (not P) and  (not Q)

not((not True) and (not True)), not((not True) and (not False)), not((not False) and (not True)), not((not False) and (not False))

(True, True, True, False)

In [31]:
#10
#truth table for AND

#True and True -> True
#True and False -> False 
#False and True -> False 
#False and False -> False 

#it should be True only if both are True
#the equivalent is: not ((not P) or (not Q))

not ((not True) or (not True)), not((not True) or (not False)), not((not False) or (not True)), not ((not False) or (not False))

(True, False, False, False)

In [60]:
import random
l = random.sample(range(1000), 100)
with open("file.txt", "w") as output:
    for item in l :
        # write each item on a new line
        output.write(str(item)+'\n')

In [11]:
file = open("file.txt", "r")
data = file.read()
ls = data.split("\n")
ls.pop()
mylist = [eval(i) for i in ls]
file.close()

In [13]:
mylist

[219,
 818,
 531,
 660,
 756,
 230,
 229,
 179,
 356,
 132,
 829,
 410,
 770,
 445,
 326,
 200,
 197,
 826,
 882,
 883,
 206,
 83,
 19,
 352,
 449,
 812,
 94,
 115,
 95,
 870,
 825,
 497,
 906,
 593,
 988,
 637,
 350,
 913,
 56,
 782,
 626,
 424,
 470,
 956,
 729,
 133,
 136,
 237,
 525,
 917,
 377,
 419,
 107,
 213,
 834,
 473,
 835,
 222,
 39,
 69,
 257,
 362,
 242,
 866,
 786,
 727,
 832,
 604,
 341,
 546,
 347,
 166,
 201,
 84,
 85,
 186,
 963,
 731,
 641,
 680,
 935,
 959,
 252,
 283,
 980,
 701,
 438,
 258,
 223,
 294,
 260,
 953,
 863,
 165,
 984,
 461,
 464,
 392,
 954,
 430]

In [64]:
data

''